*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
spring-test/test-output/

/build
target/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
.idea/*