body {
  height: 100%;
  margin: 0;
  background-color: #ABABAB;
}
.wrapper {
  margin: 0 auto;
  width: 1170px;
}
.wrapper .header {
  background-color: #575757;
  flex: 0 0 auto;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.wrapper .header .headerMenu {
  width: 100%;
}
.wrapper .content {
  min-height: calc(100vh - 200px);
  background-color: #ffffff;
}
.wrapper .content .crudTable {
  margin: 20px 0 20px 0;
}
.wrapper .footer {
  min-height: 100px;
  background-color: #575757;
}
