@headerBgColor: #303437;
@contentBgColor: #ffffff;
@lightFontColor: #cecece;
@darkFontColor: #000000;
@buttonBgColor: #1f1e1e;

body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
    min-height: 100px;
}

.content {
    min-height: 100px;
    flex: 1 0 auto;
}

#layout-footer {
    min-height: 200px;
    bottom: 0;
}

