@headerBgColor: #575757;
@bodyBgColor:#ABABAB;
@contentBgColor:#ABABAB;
@contentBgColor: #ffffff;
@lightFontColor: #cecece;
@darkFontColor: #000000;
@buttonBgColor: #1f1e1e;

body {
    height: 100%;
    margin: 0;
    background-color: @bodyBgColor;
}

.wrapper {
    margin: 0 auto;
    width: 1170px;

    .header {
        background-color: @headerBgColor;
        flex: 0 0 auto;
        min-height: 100px;
        display: flex;
        align-items: center;
        .headerMenu{
            width: 100%;
        }
    }

    .content {
        min-height: calc(~"100vh - 200px");
        background-color: @contentBgColor;

        .crudTable {
            margin: 20px 0 20px 0;
        }
    }

    .footer {
        min-height: 100px;
        background-color: @headerBgColor;
    }
}