@headerBgColor: #303437;
@contentBgColor: #ffffff;
@lightFontColor: #cecece;
@darkFontColor: #000000;
@buttonBgColor: #1f1e1e;

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: @contentBgColor;
}

header {
  font-size: 20px;
  flex-shrink: 0;
  background-color: @headerBgColor;
  color: @lightFontColor;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menuBox {
    display: flex;
    justify-content: space-between;

    .linkBox {
      float: left;
    }

    .actionBox {
      float: left;
    }
  }

  a {
    margin: 0 15px;
    text-decoration: none;
    color: @lightFontColor;

    &:hover {
      font-size: 25px;
    }
  }
}

.content {
  flex-grow: 1;
  font-size: 20px;

  .pageTitle {
    margin: 22px 0;
    font-size: 34px;
    color: #000000;
  }

  .loginBox {
    margin-top: 13%;
  }

  .helloBox {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .createEntityForm {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
  }

}

footer {
  background-color: @headerBgColor;
  min-height: 100px;
  flex-shrink: 0;
}