body {
    height: 100%;
    margin: 0;
    background-color: #ABABAB;
}

.wrapper {
    margin: 0 auto;
    width: 1170px;
    min-height: inherit;
}

.header {
    background-color: #575757;
    min-height: 100px;
}

.header .headerMenu {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: inherit;
}

.header .headerMenu form {
    width: 100%;
    font-size: 25px;
}

.content {
    min-height: calc(100vh - 200px);
    background-color: #ABABAB;
}

.content .loginContainer {
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: inherit;
}

.content .crudTable {
    margin: 20px 0 20px 0;
}

.footer {
    min-height: 100px;
    background-color: #575757;
}
